h1 {
  font-size: xx-large;
}

.entete{
  padding: 30px;
}

.nom{
  font-size: 20px;
}

.visualiser{
  padding-left: 10px;
}

table{
  padding-left: 10px;
}

.input{
  width: 350px;
  float: right;
}

.messageEchec{
  text-align: center;
  font-size: xx-large;
  color: red;
  padding: 10px;
}

.texteValide{
  color: green;
  text-align: center;
  font-size: medium;
  padding: 5px;
}

.tableauStyleDefaut{
  background-color: white;
}

.tableauStyleValide{
  background-color: green;
}

.tableauStyleRefus{
  background-color: red;
}
