<div class="entete">
  <h1>Affichage de la liste des fiches de renseignements : </h1>
  <h2>
    Pour visualiser une fiche, veuillez appuyer sur le bouton en forme d'oeil à côté du nom/prénomde l'étudiant (Vous pouvez extraire la fiche en PDF pendant la visualisation avec le bouton en
    bas de la fiche - Extraire PDF)
  </h2>
  <h2>Vous avez à disposition 2 boutons à droite de chaque fiche pour valider et refuser.</h2>
  <h2>Dans le cas où vous voulez refuser une fiche, veuillez renseigner la raison du refus dans le champ crée, et ensuite appuyer sur le bouton refuser.</h2>
</div>

<span *ngIf="listeFiches.length == 0">
  <h1 class="messageEchec">Aucune fiche de renseignements n'a été remplie pour l'instant.</h1>
</span>

<table style="width:100%">
  <!--Pour chaque fiche de la liste, on affiche le nom et prénom de l'étudiant, un bouton pour visualiser la fiche, et 2 boutons pour valider et refuser la fiche-->
  <tr *ngFor="let fiche of listeFiches, let i = index">
    <td class="nom" width="10%"><b>Date de création : </b> {{fiche.dateDeCreation | date: 'dd/MM/yyyy'}}</td>
    <td class="nom" width="10%"><b>Nom : </b> {{fiche.etudiant.nom}}</td>
    <td class="nom" width="10%"><b>Prenom : </b> {{fiche.etudiant.prenom }}</td>
    <td width="30%" class="visualiser">
      <button mat-mini-fab color="primary" aria-label="visualiser-fiche" (click)="visualiserFiche(fiche.etudiant.nom, fiche.etudiant.prenom)">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
    </td>
    <td width="10%" [ngClass]="fiche.ficheValidee == 1 ? 'tableauStyleValide' : 'tableauStyleDefaut'">
      <button mat-icon-button color="primary" aria-label="valider-fiche" class="button" (click)="validerFiche(fiche.etudiant.mail, i)"
             [disabled]="fiche.ficheValidee == 1 || fiche.ficheValidee == 2">
        <mat-icon>task_alt</mat-icon>
      </button>
    </td>
    <td width="20%">
      <mat-form-field class="input">
        <mat-label>Si refus, veuillez inscrire la raison du refus (Obligatoire).</mat-label>
        <input matInput #message placeholder="Raison du refus">
      </mat-form-field>
    </td>
    <td width="10%" [ngClass]="fiche.ficheValidee == 2 ? 'tableauStyleRefus' : 'tableauStyleDefaut'">
      <button mat-icon-button color="primary" aria-label="refuser-fiche" class="button"
             (click)="refuserFiche(fiche.etudiant.mail, fiche.tuteur.mail, message.value, i)" [disabled]="fiche.ficheValidee == 1 || fiche.ficheValidee == 2">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </td>
  </tr>
</table>
