.input{
  width: 250px;
}

.inputFiltre{
  width: 100%;
}

table{
  width: 1000px;
}

.maxHeightTable{
  max-height: 450px;
  overflow-y: scroll;
}

.centerCell, .mat-header-cell{
  text-align: center;
}

.messageEchec{
  font-size: xx-large;
  color: red;
}

.body{
  background-image: url(../../assets/image-6.jpg);
  background-size: cover;
  height: 100vh;
}
.parent{

  position: relative;
  margin: 0 auto;
  resize: both;
}

.child{
  height: 60vh;
  position: absolute;
  top: 18%;
  left: 22%;
}

.hide{
  display: none;
}

.mat-footer-row .mat-footer-cell{
  font-style: italic;
}
