.messageEchecRecup{
  font-size: xx-large;
  color: red;
}

.stepper{
  padding-top: 80px;
}

.avant-arriere{
  float: right;
}

.texte{
  text-align: center;
  font-size: 32px;
  line-height: 35px;
}

.texte-rouge{
  color:red;
}

.fields > *, .gratificationSuite > *{
  width: 95%;
  padding: 0 2rem 0 2rem;
}

.titre, .titreServiceGestion {
  padding: 0 2rem 0 2rem;
  margin-top: 10px;
}

.button-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.radioButton {
  margin: 0 10px;
}

.messageSucces{
  text-align: center;
  font-size: x-large;
  color: green;
}

.messageEchec{
  text-align: center;
  font-size: x-large;
  color: red;
}

.dates{
  width: auto;
}
