.accueil{
  text-align: center;
}

.bouton-ajout{
  margin-top: 10px;
}

.recherche{
  width: 350px;
}

.logo-uga{
  width:20%;
  margin-top: 30px;
}

.fields{
  display:flex;
  padding-left: 15px;
}
